*{
    box-sizing: border-box;
}
@font-face { 
    font-family: 'BMDOHYEON'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
body{
    font-family: 'BMDOHYEON', sans-serif;
}
header{
    border-bottom:1px solid #f0f0f0;
    height:60px;
    padding:10px 0;
    display: flex;
}
#search{
    width:575px;
    height:30px;
    border:1px solid #f0f0f0;
    margin:0 auto;
    line-height: 30px;
}
#container{
    display: flex;
}
#main{
    margin-top: 30px;
    width: 100%;
}
#advertise{
    display: flex;
    justify-content:center;
    border-bottom: 1px solid lightgray;
}
#ad1{
    border:1px solid black;
    width: 600px;
    height:200px;
}
#adsub{
    display: flex;
    flex-direction:column;
    margin-bottom: 20px;
}
#ad2{
    border:1px solid black;
    width: 450px;
    height: 100px;
}
#ad3{
    border:1px solid black;
    width: 450px;
    height: 100px;
    margin-bottom: 20px;
}

#top{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding:10px 0;
}
#bottom{
    display: flex;
    padding:10px 0;
}
.img{
    border: 1px solid black;
    width:220px;
    height:170px;
    margin:20px auto;
}
#menu{
    display:flex;
    margin-bottom: 3px;
}
.button{
    font-size:8px;
    width:40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin:0 10px;
    text-align: center;
    line-height: 40px;
}
ul{
    padding-left: 0;
    list-style:none;
}

li{
    padding:10px 10px 10px 40px;
}
nav{
    width:240px;
    height:100%;
    background-color: #f0f0f0;
    margin-right: 30px;
}

#logo{
    margin-left: 50px;
    width:75px;
    background-color: #FF0000;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
}

footer{
    font-size: 13px;
    background-color: #f0f0f0;
    padding:10px 10px 10px 40px;
    line-height: 2;
}